@import url('reset.css');

:root {
    --brand-color: #ff385c;
    --bg-color: rgba(255, 255, 255);
    --gray-color: rgba(0, 0, 0, .2);
    --main-font-size: 14px;
}

@media screen and (max-width:1920px) {
    body {
        max-width: 1920px;
        height: 1200vh;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .header {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: var(--bg-color);
        z-index: 10;
    }

    .header-top {
        padding: 15px 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid var(--gray-color);
        position: relative;
    }

    .header-top h1 {
        font-size: 20px;
        font-weight: bold;
    }

    .header-top h1>a {
        color: var(--brand-color);
    }

    .header-top .logo {
        margin-right: 10px;
        font-size: 40px;
        vertical-align: -14px;
    }

    .header__search-bar {
        width: 370px;
        height: 50px;
        padding-left: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 18px;
        border: 1px solid var(--gray-color);
        border-radius: 30px;
        box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.1);

        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        transition: all .5s;
    }

    .header__search-bar:hover {
        box-shadow: 1px 5px 5px 0 rgba(0, 0, 0, 0.1);
    }

    .header__search-bar>a {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .header__search-bar>a span {
        font-size: var(--main-font-size);
    }

    .search-bar__center::before {
        content: "";
        width: 1px;
        height: 20px;

        margin: 0 18px;
        display: inline-block;
        background-color: var(--gray-color);
        vertical-align: -4px;
    }

    .search-bar__center::after {
        content: "";
        width: 1px;
        height: 20px;
        margin: 0 18px;

        display: inline-block;
        background-color: var(--gray-color);
        vertical-align: -4px;
    }

    .search-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        margin-left: 18px;
        background-color: var(--brand-color);
        color: white;
        border-radius: 50%;
    }

    .header__user-profile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    .user-airbnb {
        height: 40px;
        padding: 5px 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        font-size: var(--main-font-size);
        font-weight: bold;
        transition: all .5s;
    }

    .user-airbnb:hover {
        background-color: var(--gray-color);
    }

    .user-language {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        transition: all .5s;
    }

    .user-language:hover {
        background-color: var(--gray-color);
    }

    .user-login {
        padding: 10px 8px 10px 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
        border: 1px solid var(--gray-color);
        border-radius: 25px;
        cursor: pointer;

        transition: all .5s;
    }

    .user-login:hover {
        box-shadow: 0 0 10px 0 var(--gray-color);
    }

    .user {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--gray-color);
        border-radius: 50%;
        background-color: var(--gray-color);
    }


    .header-nav {
        width: 100%;
        height: 80px;
        padding: 0 80px;
        margin: 20px 0;
        display: flex;
        align-items: center;

        background-color: var(--bg-color);
        position: relative;
    }

    .header-nav ion-icon {
        font-size: 32px;
    }

    .header-nav nav>ul {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 32px;
    }

    .header-nav nav>ul li a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        color: rgba(0, 0, 0, .6);
        transition: all .5s;
    }

    .header-nav nav>ul li a:hover {
        color: rgba(0, 0, 0);
    }

    .nav-icon {
        width: 25px;
        height: 25px;
        margin-bottom: 10px;
    }

    .nav-arrow {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--gray-color);
        border-radius: 50%;
        cursor: pointer;
        background-color: white;

        transition: all .5s;
    }

    .nav-arrow:hover {
        transform: scale(1.02);
        box-shadow: 1px 1px 10px 0 var(--gray-color);
    }

    .nav-arrow>ion-icon {
        font-size: 20px;
    }

    .nav-left {
        display: none;
    }

    /* .nav-left.active {
        position: absolute;
        top: 30%;
        left: 80px;
        box-shadow: 10px 0 10px 10px white;
    } */

    .nav-right {
        position: absolute;
        top: 30%;
        right: 180px;
    }

    .header-filter {
        width: 70px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
        position: absolute;
        top: 0;
        right: 80px;
        border: 1px solid var(--gray-color);
        border-radius: 10px;
    }

    .header-filter>a {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        font-size: 12px;
        font-weight: bold;
    }

    /* 메인화면 */
    main {
        margin-top: 200px;
    }

    .contents {
        padding: 0 80px;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .stay-picture {
        max-width: 320px;
        height: 300px;
        overflow: hidden;
    }

    .picture-list {
        width: calc(320px * 5);
        height: 300px;
        display: flex;
    }

    .picture {
        border-radius: 10px;
    }

    .picture img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 10px;
    }

    .check-map {
        width: 150px;
        height: 50px;

        display: flex;
        justify-content: center;
        align-items: center;

        position: fixed;
        bottom: 140px;
        left: 50%;
        transform: translateX(-50%);

        border-radius: 25px;
        border: none;
        color: var(--bg-color);
        background-color: black;
        font-size: var(--main-font-size);
        font-weight: bold;
        cursor: pointer;
        transition: all .5s;
    }

    .check-map:hover {
        transform: translateX(-50%) scale(1.05);
    }

    .check-map>ion-icon {
        margin-left: 8px;
        font-size: 18px;
    }

    /* footer */
    footer {
        height: 110px;
        padding: 0 80px;
        position: fixed;
        bottom: 0;
        left: 0;
        border-top: 1px solid var(--gray-color);
        background-color: var(--bg-color);
    }

    .footer-top {
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 15px;
        border-bottom: 1px solid var(--gray-color);
    }

    .footer-info {
        display: flex;
        gap: 16px;
    }

    .footer-info li {
        position: relative;
    }

    .footer-info li:not(:last-child):after {
        content: "";
        width: 2px;
        height: 2px;
        display: block;
        background-color: black;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        right: -8px;
    }

    .footer-info li>a:hover {
        text-decoration: underline;
    }

    .footer-reference {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: bold;
    }

    .footer-reference li>a ion-icon {
        font-size: 18px;
        vertical-align: -3px;
    }

    .footer-copyright {
        padding: 10px 0;
        font-size: 10px;
        color: rgba(0, 0, 0, 0.7);
    }
}